.not-transparent
{
background-color: skyblue;
color:white;
}
.scrolled{
    background-color:rgba(105, 128, 145, 0.95);
    transition: 0.3s;
    color:white;
  }
  .header-content
  {
      margin-left: 250px;
  }
  