<app-header></app-header>
<!-- Breadcrumb Area Start -->
 <div class="breadcrumb-area bg-2 text-center">
  <div class="container">
      <h1>Product</h1>
      <nav aria-label="breadcrumb" style="background-color: transparent!important;  ">
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Single Shop</li>
          </ul>
      </nav>
  </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Product Details Area Start -->
<div class="product-details-area pt-80 pb-75">
  <div class="container-medium product-container">
      <div class="row">
          <div class="col-lg-5 col-md-6">
              <div class="single-product-image product-image-slider fix">
                  <!-- <div class="easyzoom easyzoom--overlay">
                      <a href="assets/img/product/details/photo19.jpg">
                          <img src="assets/img/product/details/photo19.jpg" alt="">
                      </a> -->
                    
                      <!-- <a href="assets/img/product/details/photo19.jpg" class="img-popup"><i class="fa fa-search"></i></a>
                  </div>
                  <div class="easyzoom easyzoom--overlay">
                      <a href="assets/img/product/details/photo19.jpg">
                          <img src="assets/img/product/details/photo19.jpg" alt="">
                      </a>
                      <a href="assets/img/product/details/photo19.jpg" class="img-popup"><i class="fa fa-search"></i></a>
                  </div>
                  <div class="easyzoom easyzoom--overlay">
                      <a href="assets/img/product/details/photo19.jpg">
                          <img src="assets/img/product/details/photo19.jpg" alt="">
                      </a>
                      <a href="assets/img/product/details/photo19.jpg" class="img-popup"><i class="fa fa-search"></i></a>
                  </div>
                  <div class="easyzoom easyzoom--overlay">
                      <a href="assets/img/product/details/photo19.jpg">
                          <img src="assets/img/product/details/photo19.jpg" alt="">
                      </a>
                      <a href="assets/img/product/details/photo19.jpg" class="img-popup"><i class="fa fa-search"></i></a>
                  </div>
                  <div class="easyzoom easyzoom--overlay">
                      <a href="assets/img/product/details/photo19.jpg">
                          <img src="assets/img/product/details/photo19.jpg" alt="">
                      </a>
                      <a href="assets/img/product/details/photo19.jpg" class="img-popup"><i class="fa fa-search"></i></a>
                  </div> -->
              </div>
              <div class="single-product-thumbnail product-thumbnail-slider">
                  <div class="p-thumb"><img src="assets/img/product/details/photo19.jpg" alt=""></div>
                  <!-- <div class="p-thumb"><img src="assets/img/product/details/photo19.jpg" alt=""></div>
                  <div class="p-thumb"><img src="assets/img/product/details/photo19.jpg" alt=""></div>
                  <div class="p-thumb"><img src="assets/img/product/details/photo19.jpg" alt=""></div>
                  <div class="p-thumb"><img src="assets/img/product/details/photo19.jpg" alt=""></div> -->
              </div>
          </div>
          <div class="col-lg-7 col-md-6">
              <div class="product-details-text">
                  <h3>Room Decoration Items</h3>
                  <div class="p-rating-review">
                      <div class="product-rating">
                          <i class="fa fa-star color"></i>
                          <i class="fa fa-star color"></i>
                          <i class="fa fa-star color"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <a href="#" class="scroll-down">(2 customer reviews)</a>
                  </div>
                  <h4><span>$515.00</span>$499.00</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                  <h5><i class="fa fa-check"></i>150 in stock</h5>
                  <form action="#" method="post">
                      <div class="add-cart-product">
                          <input type="number" placeholder="1">
                          <button type="button">+ Add to cart</button>
                      </div>
                      <div class="add-product-container">
                          <button type="button"><i class="ion-android-favorite-outline"></i>Add to Wishlist</button>
                          <button type="button"><i class="icon ion-android-options"></i>Add to Compare</button>
                      </div>
                      <div class="product-tag-cat">
                          <div class="single-tag-cat">
                              <span class="p-d-title">Categories:</span>  
                              <a href="#">Fashion &amp; clothing</a>,
                              <a href="#">Men</a>
                          </div>
                          <div class="single-tag-cat">
                              <span class="p-d-title">Tag:</span>  
                              <a href="#">women</a>
                          </div>
                      </div>
                      <div class="product-share">
                          <span class="p-d-title">Share this product</span>
                          <ul class="p-social-links">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                              <li><a href="#"><i class="fa fa-google"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Product Details Area End -->
<!-- Product Review Tab Area Start -->
<div class="product-review-tab-area">
  <div class="container scroll-area">
      <div class="p-d-tab-container">
          <div class="p-tab-btn">
              <div class="nav" role="tablist">
                  <a class="active" href="#tab1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="tab1">Description</a>
                  <a href="#tab2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab2">Reviews (2)</a>
              </div>
          </div>
          <div class="p-d-tab tab-content">
              <div class="tab-pane active show fade" id="tab1" role="tabpanel">
                  <div class="tab-items">
                      <div class="product-desc-text">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                          <p>Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget.</p>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade scroll-area" id="tab2" role="tabpanel">
                  <div class="tab-items">
                      <div class="p-review-wrapper">
                          <h3>2 reviews for Ornare sed consequat</h3>
                          <div class="single-review-item">
                              <div class="review-logo">
                                  <img src="assets/img/icon/logo.jpg" alt="">
                              </div>
                              <div class="p-review-text">
                                  <div class="rating-number">
                                      <i class="fa fa-star color"></i>
                                      <i class="fa fa-star color"></i>
                                      <i class="fa fa-star color"></i>
                                      <i class="fa fa-star color"></i>
                                      <i class="fa fa-star color"></i>
                                  </div>
                                  <span class="p-review-info"><span>admin</span> – March 23, 2018</span>
                                  <p>Lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi.</p>
                              </div>
                          </div>
                          <div class="single-review-item">
                              <div class="review-logo">
                                  <img src="assets/img/icon/logo.jpg" alt="">
                              </div>
                              <div class="p-review-text">
                                  <div class="rating-number">
                                      <i class="fa fa-star color"></i>
                                      <i class="fa fa-star color"></i>
                                      <i class="fa fa-star color"></i>
                                      <i class="fa fa-star color"></i>
                                      <i class="fa fa-star"></i>
                                  </div>
                                  <span class="p-review-info"><span>admin</span> – March 23, 2018</span>
                                  <p>Lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi.</p>
                              </div>
                          </div>
                      </div>
                      <form action="#" method="post" class="rating-form">
                          <label>Add a review</label>
                          <h5>your rating</h5>
                          <div class="submit-rating">
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                          </div>
                          <label for="r-textarea">Your Review</label>
                          <textarea name="review" id="r-textarea" cols="30" rows="10"></textarea>
                          <label for="r-name">Name *</label>
                          <input type="text" placeholder="" id="r-name">
                          <label for="r-email">Email *</label>
                          <input type="email" placeholder="" id="r-email">
                          <button>Submit</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Product Review Tab Area End -->
<!-- Product Area Start -->
<div class="product-area pt-100 fix">
  <div class="container">
      <h3 class="subtitle-2">You may also like…</h3>
  </div>
  <div class="container">
      <div class="row">
          <div class="product-carousel owl-carousel carousel-style-one">
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <span class="onsale">Sale!</span>
                              <img src="assets/img/product/furniture/photo.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Office Desk</a></h5>
                          <div class="pro-price">
                              <span class="old-price">$45.00</span> 
                              <span class="new-price">$40.00</span>
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <img src="assets/img/product/furniture/photo.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Dining Table</a></h5>
                          <div class="pro-price">
                              <span>$115.00</span> 
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <span class="onsale">Sale!</span>
                              <img src="assets/img/product/furniture/photo.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Discount Chair</a></h5>
                          <div class="pro-price">
                              <span class="old-price">$90.00</span> 
                              <span class="new-price">$80.00</span>
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <img src="assets/img/product/furniture/photo.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Luxury Bedroom</a></h5>
                          <div class="pro-price">
                              <span>$100.00</span> 
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <img src="assets/img/product/furniture/photo.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Living Room</a></h5>
                          <div class="pro-price">
                              <span>$60.00</span> 
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <img src="assets/img/product/furniture/photo.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Wadrobe</a></h5>
                          <div class="pro-price">
                              <span>$70.00</span> 
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <img src="assets/img/product/furniture/photo.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Cleaning</a></h5>
                          <div class="pro-price">
                              <span>$130.00</span> 
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <span class="onsale">Sale!</span>
                              <img src="assets/img/product/furniture/photo.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Kitchen Tools</a></h5>
                          <div class="pro-price">
                              <span class="old-price">$90.00</span> 
                              <span class="new-price">$80.00</span>
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <img src="assets/img/product/furniture/photo.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Dining Table</a></h5>
                          <div class="pro-price">
                              <span>$115.00</span> 
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Product Area End -->
<!-- Product Area Start -->
<div class="product-area related-product pt-95 pb-100 fix">
  <div class="container">
      <h3 class="subtitle-2">Related products</h3>
  </div>
  <div class="container">
      <div class="row">
          <div class="product-carousel owl-carousel carousel-style-one">
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <span class="onsale">Sale!</span>
                              <img src="assets/img/product/furniture/f.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Discount Chair</a></h5>
                          <div class="pro-price">
                              <span class="old-price">$90.00</span> 
                              <span class="new-price">$80.00</span>
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <img src="assets/img/product/furniture/f.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Luxury Bedroom</a></h5>
                          <div class="pro-price">
                              <span>$100.00</span> 
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <img src="assets/img/product/furniture/f.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Living Room</a></h5>
                          <div class="pro-price">
                              <span>$60.00</span> 
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="custom-col">
                  <div class="single-product-item">
                      <div class="product-image">
                          <a href="shop.html">
                              <span class="onsale">Sale!</span>
                              <img src="assets/img/product/furniture/f.jpg" alt="">
                          </a>  
                          <ul class="product-hover">
                              <li>
                                  <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist" ><i class="ion-android-favorite-outline"></i></a>
                              </li>
                              <li>
                                  <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" ><i class="icon ion-android-options"></i></a>
                              </li>
                              <li class="btn-quickview modal-view" data-toggle="modal" data-target="#productModal">
                                  <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="icon ion-android-open"></i></span>
                              </li>
                          </ul>
                      </div>
                      <div class="product-text">
                          <h5><a href="shop.html">Office Desk</a></h5>
                          <div class="pro-price">
                              <span class="old-price">$45.00</span> 
                              <span class="new-price">$40.00</span>
                          </div>
                          <div class="cart-btn-wrap">
                              <a href="cart.html" data-toggle="tooltip" title="Add to cart">+ Add to cart</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Product Area End -->
<app-footer></app-footer>